# Allow binder communication
binder_use(hal_camera)
allow hal_camera surfaceflinger_service:service_manager find;

# Allow socket communication with perfd
