binder_use(mm-qcamerad)

# /dev/socket/cam/%d
allow mm-qcamerad camera_socket:sock_file { create unlink write };

allow mm-qcamerad sensorservice_service:service_manager find;

# /data/fdAlbum, a link init makes into /data/vendor/camera
allow mm-qcamerad camera_data_file:lnk_file read;
allow mm-qcamerad vendor_camera_data_file:file create_file_perms;

r_dir_file(mm-qcamerad, sysfs_graphics)
