allow system_server mpctl_socket:dir r_dir_perms;
unix_socket_connect(system_server, mpctl, mpdecision)
unix_socket_send(system_server, mpctl, mpdecision)

netmgr_socket(system_server)
qmux_socket(system_server)

allow system_server sensors_device:chr_file getattr;




