# The HTC camera HAL reaches mm-qcamerad over /data/cam_socket*.
unix_socket_send(hal_camera_default, camera, mm-qcamerad)

allow hal_camera_default vendor_shim_target_file:file { r_file_perms execute map };

allow hal_camera_default sysfs_camera_sensor:file r_file_perms;
r_dir_file(hal_camera_default, sysfs_battery_supply)
r_dir_file(hal_camera_default, sysfs_camera_awb_cal)
r_dir_file(hal_camera_default, sysfs_camera_led_status)
