binder_call(mediaserver, hal_configstore)
allow mediaserver hal_configstore_ISurfaceFlingerConfigs:hwservice_manager find;

# debugfs access
userdebug_or_eng(`
    allow mediaserver debugfs_ion:file r_file_perms;
')
