vendor_internal_prop(vendor_bt_loader_prop)
vendor_internal_prop(vendor_hwc_prop)
vendor_internal_prop(vendor_power_prop)
vendor_internal_prop(vendor_qcom_data_prop)
vendor_internal_prop(vendor_qcril_prop)
vendor_internal_prop(vendor_video_prop)
vendor_internal_prop(vendor_qti_probe_prop)
vendor_restricted_prop(vendor_gpu_prop)
vendor_internal_prop(vendor_tee_prop)
